{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "amityvox.fullname" . }}-secret
  labels:
    {{- include "amityvox.labels" . | nindent 4 }}
type: Opaque
stringData:
  database-url: {{ include "amityvox.databaseUrl" . | quote }}
  nats-url: {{ include "amityvox.natsUrl" . | quote }}
  cache-url: {{ include "amityvox.cacheUrl" . | quote }}
  {{- if .Values.config.storage.endpoint }}
  storage-endpoint: {{ .Values.config.storage.endpoint | quote }}
  {{- end }}
  {{- if .Values.config.storage.accessKey }}
  storage-access-key: {{ .Values.config.storage.accessKey | quote }}
  {{- end }}
  {{- if .Values.config.storage.secretKey }}
  storage-secret-key: {{ .Values.config.storage.secretKey | quote }}
  {{- end }}
  {{- if .Values.config.livekit.apiKey }}
  livekit-api-key: {{ .Values.config.livekit.apiKey | quote }}
  {{- end }}
  {{- if .Values.config.livekit.apiSecret }}
  livekit-api-secret: {{ .Values.config.livekit.apiSecret | quote }}
  {{- end }}
  {{- if .Values.config.search.apiKey }}
  search-api-key: {{ .Values.config.search.apiKey | quote }}
  {{- end }}
  {{- if .Values.config.search.url }}
  search-url: {{ .Values.config.search.url | quote }}
  {{- end }}
  {{- if .Values.config.livekit.url }}
  livekit-url: {{ .Values.config.livekit.url | quote }}
  {{- end }}
{{- end }}
